.status-cell {
    text-align: center;
    vertical-align: middle; /* Optional, to vertically center text in the cell */
}
.bg-start_date {
    background-color: #b2ebf2 !important;
    border-radius: 5px;
}
.bg-end_date {
    background-color: #b2ebf2 !important;
    border-radius: 5px;
}
.bg-month {
    background-color: #b2ebf2 !important;
    border-radius: 5px;
}
.bg-year {
    background-color: #b2ebf2 !important;
    border-radius: 5px;
}
.css-1k1r95o-control {
    border: 1px solid #9facb7 !important;
    background-color: transparent !important;
    color: black !important;
}
