/* src/features/auth/css/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    /* width: 50%; */
    align-items: center;
    height: 100vh;
}
.login-left {
    width: 50%;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 36.66666667%;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 56.66666667%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 76.66666667%;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    margin-top: 10px;
}

.title {
    text-align: center;
    color: #5a299c;
    text-shadow: 2px 2px 4px #fbce34;
    font-family: "Arial", sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dark-logo {
    width: 160px;
    margin-top: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* start */
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Exo", sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

/* .area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
} */
.area {
    position: absolute; /* biar nempel ke container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* taruh paling belakang */
    overflow: hidden;
}

/* .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

/* end */
